# WELCOME TO TECHNICAL TRAININGS

## PANDAS LIBRARY DISCUSSION
Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). 

The axis labels are collectively called index. Pandas Series is nothing but a column in an excel sheet.

## DATA SERIES

#### Creating a series from array: In order to create a series from array, we have to import a numpy module and have to use array() function.

In [52]:
import numpy as np
import pandas as pd     #naame for the same thing
 

data = np.array(["LIKE","SHARE","SUBSCRIBE","LIKE","SHARE","SUBSCRIBE"])
 
ser = pd.Series(data)
print(ser)

0         LIKE
1        SHARE
2    SUBSCRIBE
3         LIKE
4        SHARE
5    SUBSCRIBE
dtype: object

In [53]:
# USING LIST
import pandas as pd
 
# a simple list
list = ['KEEP','LEARNING','WITH','TECHNICAL','TRAININGS']
  
# create series form a list
ser = pd.Series(list)
print(ser)

0         KEEP
1     LEARNING
2         WITH
3    TECHNICAL
4    TRAININGS
dtype: object

## ELEMENT ACCESSING WITH DATASERIES

In [56]:
import pandas as pd
 

list = ['KEEP','LEARNING','WITH','TECHNICAL','TRAININGS']
  
ser = pd.Series(list)
print(ser[0:3])

0        KEEP
1    LEARNING
2        WITH
dtype: object

## DATA FRAME

### 
The .loc and .iloc indexers also use the indexing operator to make selections. In this indexing operator to refer to df[ ].

In [57]:
# importing pandas module  
import pandas as pd  
     
# making data frame  
df = pd.read_csv("Book1.csv")  
   
ser = pd.Series(df['NAME']) 
data = ser.head()
print(data)

0    NARESH
1     SOHAM
2     SNEHA
3      like
4     share
Name: NAME, dtype: object

## ELEMENT ACCESSING

In [61]:
# importing pandas module  
import pandas as pd  
     
# making data frame  
df = pd.read_csv("Book1.csv")  
   
ser = pd.Series(df['NAME']) 
data = ser.head()
data.iloc[0:4]
print(data)

0    NARESH
1     SOHAM
2     SNEHA
3      like
4     share
Name: NAME, dtype: object

In [62]:
# DATAFRAMING 

import pandas as pd 


data = {'Name':['Naresh', 'Soham', 'Sneha', 'Aniket'], 
		'Age':[27, 24, 22, 32], 
		'Address':['Mumbai', 'Chennai', 'Delhi', 'Kerala'], 
		'Positions':['CEO', 'MD', 'ENGINEER', 'ASSISTANT']} 


df = pd.DataFrame(data) 


print(df[['Name', 'Positions']])

     Name  Positions
0  Naresh        CEO
1   Soham         MD
2   Sneha   ENGINEER
3  Aniket  ASSISTANT

## DATA DROPOING

In [37]:
import pandas as pd 
data = {'Name':['Naresh', 'Soham', 'Sneha', 'Aniket'], 
		'Age':[27, 24, 22, 32], 
		'Address':['Mumbai', 'Chennai', 'Delhi', 'Kerala'], 
		'Positions':['CEO', 'MD', 'ENGINEER', 'ASSISTANT']} 
df = pd.DataFrame(data) 
df.drop(["Name"], axis = 1, inplace = True)
print(df)

   Age  Address  Positions
0   27   Mumbai        CEO
1   24  Chennai         MD
2   22    Delhi   ENGINEER
3   32   Kerala  ASSISTANT

## DATA RETRIEVING BY .loc[] and .iloc[]

In [63]:

import pandas as pd 
  
data = pd.read_csv("Book1.csv") 
  
row1 = data.loc[1] 

row2 = data.iloc[1]  

row1 == row2

NAME       True
ENGLISH    True
MARATHI    True
HINDI      True
Name: 1, dtype: bool

### With loc and iloc you can do practically any data selection operation on DataFrames you can think of. loc is label-based, which means that you have to specify rows and columns based on their row and column labels. iloc is integer index based, so you have to specify rows and columns by their integer index like you did in the previous exercise.